/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
body {
    background-color: rgba(16, 16, 255, 0.07);
    overflow-y: scroll;
}

.details-card {
    .edit-btn {
        right: 24px;
        bottom: 15px;
    }

    .chip {
        padding: 0;
    }
}

.custom-filter-label {
    &.active {
        color: #ff4081;
    }
}
.filter-block {
    .select2-container {
        position: absolute;
        top: -45px;
        left: 0;
    }
    .select2-selection {
        opacity: 0;
        pointer-events: none;
    }

}

.no-pointer-events {
    pointer-events: none;
}

.select2-dropdown {
    position: absolute !important;
}

.dropdown-trigger {
    color: black;
    padding-bottom: 9px;
    min-height: 38px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    svg {
        position: absolute;
        right: 0;
    }

    .custom-filter-input {
        color: transparent;
    }


    .custom-filter-input.active {
        color: #000;
        border-bottom: 1px solid #ff4081;
        box-shadow: 0 1px 0 0 #ff4081;
    }
}

.custom-filter-input, .custom-filter-label {
    pointer-events: none;
    cursor: pointer;
}

.height-100 {
    height: 100%;
}

#main {
    min-height: calc(100vh - 65px);
    margin-top: -50px;
    @media screen and (max-width: 995px) {
        margin-top: 0;

    }
}

.chip {
    background-color: transparent !important;
    font-size: 15px;
    padding: 5px;
}

.contracts-list-wrapper {
    .input-field {
        position: relative;
        min-height: 50px !important;

        label {
            pointer-events: none;
        }
    }
}

.input-field {
    min-height: 25px !important;
}

.error-span {
    font-size: 10px;
    color: red;
    position: absolute;
    left: 1rem;
    bottom: -10px;

}

label {
    left: 1rem !important;
}

.date-filter, .custom-filter-btn {
    label {
        left: 0 !important;
    }
}

.with-clear-left {
    .col {
        &:nth-child(3n) {
            clear: left;
        }
    }
}

.select-wrapper {
    .dropdown-content {
        li {
            span, a {
                color: #6B6F82;

                &:hover {
                    color: #ff4081;
                }

            }
        }
    }
}

.select2-results__options {
    background-color: #fff;

    li {
        color: #6B6F82 !important;
        background-color: #fff !important;

        &:hover {
            color: #ff4081 !important;
            background-color: rgba(0, 0, 0, 0.08) !important;
        }

        &[aria-selected=true] {
            background-color: rgba(0, 0, 0, 0.03) !important;
        }
    }
}


#vacations-table_wrapper {
    th, td {
        padding: 18px 2px;
    }
}

.navbar {
    z-index: 1000;
}

.sidenav-main {
    z-index: 1002;
}

#breadcrumbs-wrapper {
    position: relative;
    z-index: 1001;
    max-width: calc(100% - 134px);
    padding: 10px 0 !important;
    margin-bottom: 40px;
    @media screen and (max-width: 995px) {
        z-index: 1;
    }
    @media screen and (max-width: 600px) {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    th {
        padding: 0 15px 0 5px !important;
        height: 40px;
    }

    td {
        padding: 0 !important;
        height: 41px;

        &:last-child {
            margin-bottom: 20px;
        }
    }
    .dataTables {
        th, td {
            display: flex !important;
            align-items: center !important;
        }
    }
}
.btn {
    height: 40px;
}

.custom-filter-btn {
    min-width: 175px;
    margin-right: 15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    a {
        width: 100%;
        display: flex;
        align-items: center;
        svg {
            position: absolute;
            right: 0;
        }
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 15px;
    }
    @media screen and (max-width: 540px) {
        width: 100%;
        margin-right: 0;

    }

    &:last-child {
        margin-right: 0;
    }
}

.flex-wrap-important {
    flex-wrap: wrap !important;
}

.totals-content {
    background-color: #fff;
}

.checkbox-filter {
    margin-left: 15px;
    @media screen and (max-width: 768px) {
        margin-bottom: 15px;
        margin-left: 0;
    }

}

.filter-panel {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    //min-height: 120px;
    flex-wrap: wrap;
    margin-top: 1rem;
    .filter-block {
        display: flex;
        flex-wrap: nowrap;
        &-buttons {
            display: flex;
            width: min-content;
            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
                .custom-filter-btn {
                    margin-right: 0;
                    width: 100%;
                }
                width: 100%;
            }
            @media screen and (max-width: 540px) {
                width: 100%;
            }
        }

        @media screen and (max-width: 1200px) {
            width: 100%;

        }
        @media screen and (max-width: 768px) {
            display: block;
            width: 100%;
        }
        @media screen and (max-width: 540px) {
            flex-wrap: wrap;
        }
    }
}

.date-filter {
    display: flex;
    margin-right: 15px;
    min-width: 180px;
    @media screen and (max-width: 768px) {
        width: 100%;
        margin-right: 0;
    }
    @media screen and (max-width: 540px) {
        width: 100%;
        flex-direction: row;
        margin-right: 0;
    }

    &-block {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}

.reset-btn {
    //min-width: 200px;
    border-radius: 4px;
    //height: 36px;
    //line-height: 36px;
    //padding: 0 2rem;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    font-weight: bold;
    color: #3f51b5;
    box-shadow: none;
    max-width: 100px;
    float: right;
    //margin-bottom: 17px;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-align: center;
    transition: all .5s;
    @media screen and (max-width: 1300px) {
        max-width: 100px;
        min-width: 0;
    }
    @media screen and (max-width: 768px) {
        max-width: 100%;
        width: 100%;
    }

    &:hover {
        //background-color: #3f51b5;
        //color: white;
        text-decoration: underline;
    }
}

table.dataTable thead .sorting_desc {
    @media screen and (max-width: 738px) {
        &:before {
            background: none !important;
        }
    }
}

.responsive-table {
    overflow: auto;
    label {
        input {
            height: auto !important;
            width: auto !important;
            margin-left: 0.5rem !important;
        }
    }
}

.dataTables_filter {
    label {
        font-size: 15px;
    }
}

.dataTables_scrollHeadInner, .dataTables_scrollHeadInner {
    width: 100% !important;
}

.dataTables_scrollBody {
    table {
        width: 100% !important;
    }
}

.create-btn {
    position: absolute;
    top: -41px;
    right: 0;
    z-index: 998;

    .btn {
        display: flex;
        align-items: center;
        z-index: 998;
    }
}

.select-wrapper {
    ul {
        max-height: 150px;
        overflow: auto;
    }
}

.btn {
    font-weight: 600;
}



table {
    width: 100% !important;
}

.cancel-btn {
    background-color: transparent !important;
    color: #FF4181;
    border: solid 2px #FF4181;
    border-radius: 3px;

    &:hover {
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    }
}

.totals-container {
    display: flex;
    flex-wrap: wrap;
    .card-content {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
}
.totals-list {
    margin: 0 -1rem !important;
    h6 {
        color: #fff;
    }
    .card {
        .card-content {
            padding: 10px;
            text-align: center;
            min-height: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.totals-2-col {
    margin: 0 -1rem !important;
    .totals-list {
        margin: 15px -1rem;
    }

    .totals-item {
        width: 50% !important;
        @media screen and (max-width: 1200px) {
            width: 100% !important;
        }
    }
    @media screen and (max-width: 600px) {
        .col {
            h6 {
                color: #000;
            }
            &:first-child {
                h6 {
                    color: #fff;
                }
            }
        }

    }
}

.slide-down-block {
    display: none;
}

.section {
    position: relative;
    z-index: 999;
    &.modal-is-open{
        animation: auto;
        position: unset;
    }
    &.relative {
        position: relative;
    }
    @media screen and (max-width: 995px) {
        z-index: 1;

    }
}

.page-layout {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1360px) {
        flex-direction: column;
    }

}

.table-wrapper {
    width: 100%;
    margin-left: 50px;
    @media screen and (max-width: 1360px) {
        margin-left: 0;
    }
}

.sidebar {
    .sidebar-content {
        .sidebar-header {
            height: 100%;
            top: 0 !important;
            left: 0;

            .mt-10 {
                margin-top: 0 !important;
            }

            .card-action {
                border-top: none;
            }

            i {
                display: none;
            }
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}


.custom-sidebar {
    @media screen and (max-width: 1200px) {
        padding-bottom: 80px;
        .sidebar-content {
            .sidebar-header {
                left: 0;
            }
        }
    }
}

.overflow-x-auto {
    overflow: auto;
}

.text-decoration-underline {
    text-decoration: underline;
}
