/*----------------------------------------
  Payslip
------------------------------------------*/

html {
    font-size: 10px;
}

#payslip-list {
    .border-bottom {
        border-bottom: 1px dashed grey;
    }
    .padding-top-10 {
        padding-top: 10px;
    }
    .border-right {
        border-right: 1px dashed grey;
    }
    .page-break {
        page-break-after: always;
    }
    .table-list {
        width: 100%
    }

    .payslip-wrapper {
        padding: 0 15px 15px 15px;
        table.payslip {
            width: 100%;
            border-collapse: collapse;
            td {
                padding: 1px 2px;
                border: 1px dotted grey;
            }
            td.text-center {
                text-align: center;
            }
            td.title {
                padding: 5px;
                font-size: 12px;
            }
            td.first-row {
                padding-top: 0px;
            }
            td.values {
                text-align: center;
                background-color: gainsboro;
                width: 70px;
            }
            td.no-border {
                border: none;
            }
        }
        table.payslip-footer {
            width: 100%;
            color: grey;
            border-collapse: collapse;
            tr {
                padding: 3px;
            }
            td {
                padding: 3px;
            }
            td.text-right {
                text-align: right;
            }
        }
    }
}